@model IEnumerable<CoreEntities.Order>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ViewOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Orders</h2>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flagged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flagged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebsiteUser.Email)
                </td>
                <td>
                    <a asp-action="FlagOrder" asp-route-OrderId="@item.OrderId">Flag It</a> |
                    <a asp-action="UnFlagOrder" asp-route-OrderId="@item.OrderId">UnFlag It</a>

</tr>
        }
    </tbody>
</table>
