@model Entities.WebsiteUser
@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<div class="row">
    <div class="col-xs-10">
        @using (Html.BeginForm("Register", "WebsiteUser", null, FormMethod.Post))
        {
            <div class="">
                <div class="row">
                    <div class=" col-xs-offset-2  col-xs-10">
                        <h1>Registration Form</h1>
                        <hr />
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-offset-2  col-xs-3">
                        <div class="form-group input-group">
                            <label class="has-float-label">

                                @Html.TextBoxFor(m => m.FirstName)
                                @Html.Label("First Name")

                            </label>

                        </div>
                    </div>
                    @Html.TextBoxFor(a=>a.)

                    <div class="col-xs-3">
                        <div class="form-group input-group">
                            <label class="has-float-label">
                                @Html.TextBoxFor(m => m.LastName)
                                @Html.Label("Last Name")
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="form-group input-group">
                            <label class="has-float-label">
                                @Html.TextBoxFor(m => m.UserName)
                                @Html.Label("User Name")
                            </label>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-xs-offset-2  col-xs-5">
                        <div class="form-group input-group">
                            <label class="has-float-label">
                                @Html.TextBoxFor(m => m.Email)
                                @Html.Label("Email Address")
                            </label>


                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="form-group input-group">
                            <label class="has-float-label">
                                @Html.TextBoxFor(m => m.Password)
                                @Html.Label("Password")
                            </label>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-3 col-xs-offset-9">
                        <input type="submit" class="btn btn-action" value="Submit" />
                    </div>
                </div>
            </div>
            @Html.AntiForgeryToken()
        }
    </div>
</div>