@model IEnumerable<CoreEntities.Product>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ViewMyProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View MyProducts</h2>

<div>
    <a asp-action="Index" asp-controller="WebsiteUser">Back to Home</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                @{ 
                    var name = item.WebsiteUser.FirstName + " " + item.WebsiteUser.LastName;
                }
                <td>
                    @Html.DisplayFor(modelItem => name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.Description)
                </td>
                <td>
                    <a asp-action="ViewProduct" asp-route-ProductId="@item.ProductId">View Product Details</a> |
                    <a asp-action="DeleteProduct" asp-route-ProductId="@item.ProductId">Delete Product</a>
                </td>
            </tr>
        }
    </tbody>
</table>
